@{
    ViewBag.Title = "MasterMind - Create new game";
}

<h2>Create new game</h2>


<div id="GameBoard">
    <div id="ColorColumn">
        <span class="colorBox white"></span>
        <span class="colorBox yellow"></span>
        <span class="colorBox orange"></span>
        <span class="colorBox red"></span>
        <span class="colorBox purple"></span>
        <span class="colorBox teal"></span>
        <span class="colorBox green"></span>
        <span class="colorBox black"></span>
    </div>
    <div class="colorRow">
        <span class="colorBox"></span>
        <span class="colorBox"></span>
        <span class="colorBox"></span>
        <span class="colorBox"></span>
        <span class="scoreBox"></span>
    </div>
</div>